<footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li>
                  <a href="http://austinkiese.com" target="_blank">Austin Kiese</a>
                </li>
                <li>
                  <a href="https://cryptopotluck.com/post/" target="_blank">Blog</a>
                </li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by <a href="http://cryptopotluck.com"><b>Crypto Potluck</b></a>
              </span>
            </div>
          </div>
        </div>
      </footer>