<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
      </a>
      <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(-231px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
        <li class="header-title"> Extra Information</li>
        <li class="button-container">
          <a href="{% url 'about' %}" class="btn btn-primary btn-block btn-round">Project Requirements</a>
          <a href="https://github.com/cryptopotluck/favorite-things" target="_blank" class="btn btn-default btn-block btn-round">
            <i class="nc-icon nc-paper"></i> Github Documentation
          </a>
          <a href="https://www.youtube.com/channel/UC-pBvv8mzLpj0k-RIbc2Nog/videos?view_as=subscriber" target="_blank" class="btn btn-info btn-block btn-round">
            <i class="nc-icon nc-laptop"></i> Video Tutorial
          </a>
        </li>
          <br>
          <span></span>
        </li>
      </ul>
    </div>
  </div>